#section{
    min-height:700px;
    width:80%;
    margin:20px auto;
    color:#323A45;
}
#title{
    background: #45B39E;
    width:200px;
    float: left;
    overflow:hidden;
    min-height:500px;
    padding:20px 0;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
#title li{
    overflow:hidden;
    text-align: center;
}
#title a{
    display: inline-block;
    color:#fff;
    padding:9px 57px;
    margin-left:20px;
    border:2px solid transparent;
    border-right:0;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    transition: background 0.5s,color 0.5s;
}
#title a:hover,#title a.active{
    background: #fff;
    border-color:#ddd;
    color:#323A45;
}
#main{
    margin-left:200px;
    padding:30px;
    padding-top:0;
    border:2px solid #45B39E;
    border-left:0;
    min-height: 540px;
    box-sizing: border-box;
    background:url(img/personal.jpg) no-repeat 100% 90%;
    min-width:755px;
}
#main div{
    display: none;
}
#main div p{
    color:#323A45;
    line-height:30px;
    margin:18px 0;
}
#main div p img{
    width:100px;
    border:1px solid #ddd;
    padding:5px;
    border-radius: 53px;
    vertical-align: middle;
}
#main div p input{
    height:25px;
    border-radius: 3px;
    border: 1px solid #aaa;
    outline:none;
    width:300px;
}
#main div p button{
    background: #00a300;
    color:#fff;
    font-family: "Î¢ÈíÑÅºÚ";
    padding:5px 10px;
    border:0;
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    transition:background 0.3s;
}
#main div p button:hover{
    cursor: pointer;
    background: #006900;
}
#main div:last-child{
    margin-top:20px;
}
.msg{
    margin-top:20px;
    border-collapse: collapse;
    border-radius: 5px;
    font-size: 15px;
    width:100%;
}

.msg a{
    color: #2d84a3;
}
.msg td,.msg th {
    text-align: center;
    padding:8px 10px;
}
.msg thead{
    background: #3b7663;
    color:#fff;
}
.msg th{
    width:8%;
}
.msg th:nth-child(2){
    width:14%;
}
.msg th:nth-child(3){
    width:50%;
}
.msg th:nth-child(4){
    width:20%;
}
.msg tbody td{
    padding:20px 0;
}
.msg tbody tr:nth-child(odd){
    background:#fff;
}
.msg tbody tr:nth-child(even){
    background: #4cd1bc;
    color:#fff;
}
.msg tbody tr:nth-child(even) a{
    color: #fff;
}
.save{
    display: none;
}